<ion-header>
  <ion-toolbar>
    <ion-title>
      Picolo Deluxe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-button (click)="nav('start-game')">
        <ion-icon name="play"></ion-icon>
        <ion-text class="ion-margin-start">Start Game</ion-text>
      </ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button (click)="nav('add-category')">
        <ion-icon name="add"></ion-icon>
        <ion-icon name="folder"></ion-icon>
        <ion-text class="ion-margin-start">Add a category</ion-text>
      </ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button (click)="nav('list-categories')">
        <ion-icon name="list"></ion-icon>
        <ion-icon name="folder"></ion-icon>
        <ion-text class="ion-margin-start">List your categories</ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>
